<nav class="nav nav-primary">
  <ul class="menu" role="list">
    {%- for item in collections.all | eleventyNavigation -%}
      {%- if item.url -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
        <li class="item{% if isCurrent or isParent %} active{% endif %}">
          <a class="link" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
            {{ item.title }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>