---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<article class="container flow">
  <h1>Hello, world!</h1>
  <p>Welcome to the Sanity + 11ty + Vite starter. Some base styling and template examples have been included to help you get started. You can modify or remove elements to best fit your project needs.</p>
</article>