---
layout: base
eleventyNavigation:
  key: Sanity Example
  order: 2
---

<article class="container flow">
  <h1>Fetching data from Sanity</h1>

  <p>Below is an example of fetching <em>pets</em> from a Sanity dataset created from their <a href="https://www.sanity.io/get-started/">Get Started</a> workflow.</p>

  <ul>
    {% for pet in pets %}
      <li>
        <img src="{{ pet.picture.asset.url }}?w=200" alt="" style="aspect-ratio: 1; max-width: 64px; object-fit: cover; border-radius: 50%"/>
        <strong>{{ pet.name }}</strong> – {{ pet.shortDescription }}
      </li>
    {% endfor %}
  </ul>
</article>